* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.089);
  padding: 50px;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.vehiclesform a {
  padding: 5px 10px;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 12px;
  text-decoration: none;
}
